@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*,*::after,*::before{
    box-sizing: border-box;
    padding: auto;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    font-family: 'Poppins', sans-serif;
    
   
    
    
  }
  
  .event-card {
    background-color: #ffffff;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 2em auto;
  
    .event-image {
      width: 100%;
      height: auto;
      max-height: 300px;
      object-fit: cover;
    }
  
    .event-details {
      padding: 20px;
  
      h1 {
        color: #2c3e50;
        margin-bottom: 10px;
      }
  
      .host-role {
        font-style: italic;
        color: #7f8c8d;
        margin-bottom: 20px;
      }
  
      .description {
        margin-bottom: 20px;
      }
  
      .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
  
        .skill {
          background-color: #3498db;
          color: #ffffff;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 14px;
        }
      }

  
      .accountSession{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        .link {
            display: inline-block;
            background-color: #2ecc71;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 1rem;
            transition: background-color 0.3s ease;
      
            &:hover {
              background-color: #27ae60;
            }
      }
      button{
        display: block;
        // width: 100%;
        padding: 0.75rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;

        &:hover {
            background-color: #0056b3;
        }
      }
      }
    }
  }