@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root{
  
  --shadow-color: 213deg 11% 57%;
  --shadow-elevation-medium:
    0.7px 0.2px 0.8px hsl(var(--shadow-color) / 0.36),
    2.4px 0.7px 2.8px -0.8px hsl(var(--shadow-color) / 0.36),
    5.9px 1.6px 6.9px -1.7px hsl(var(--shadow-color) / 0.36),
    14.4px 4px 16.8px -2.5px hsl(var(--shadow-color) / 0.36);
}
*::after,*::before {
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 42%;
  transform: translateY(-50%);
  /* background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%); */
  background-color: #1f3273  ;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

.sideContainer{
  width: 100%;
/*   
  background-color: red; */
  display: flex;
  position:relative;
  /* gap: 1em; */
  background-color: #e2e8ef;
}
.sideBar{
  width: 100%;
  background-color: #1f3273;
  height: 80%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:1.5em;
  /* box-shadow: var(--shadow-elevation-medium); */
  /* overflow-y: scroll; */
  
}
.sideSearch{
  display: flex;
  width: 100%;
  /* background-color: red; */
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.searchOptions {
  width: 100%;
  /* min-height: 50px;  */
  background-color: white;
  display: flex;
  flex-direction: column;
  /* gap: .3em; */
  position: absolute;
  top: 1em;
  left: 0;
  border-radius: 0 0 1em 1em;
  justify-content: center;
  align-items: center;
  
}


.searchOptionRow{
  background-color: whitesmoke;
  width: 90%;
  padding: .2em;
  /* height: 20px; */
  color: black;
  /* border:.5px solid black */
}
.searchOptionRow:nth-child(1){
  margin-top: 1em;
}
.interstList{
  background-color: yellow;
  color: black;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, cal);

}
.dummySide{
  height: 100vh;
  width: 20%;
  background-color: #e2e8ef;
}
.sideBarDesign{
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e2e8ef;
  height: 100vh;
  /* background-color: yellow; */
  /* border-radius: 0 5em 5em 0; */
  /* z-index: 5; */
  
}
.sid1,.sid2{
  width: 100%;
  background-color: #1f3273;
  /* box-shadow: var(--shadow-elevation-medium); */
  height:10% ;
}
.sid1{
  border-radius: 0 5em 0 0;
}
.sid2{
  border-radius: 0 0 5em 0;
  position: relative;
}
.sid2::after{
  content: '';
  position: absolute;
  /* background-color: red; */
  bottom: -0px;
  right: 0px;
  border-radius: 50%;
  box-shadow: 60px 60px 0 1px white;
  height: 120px;
  width: 120px;
  z-index: 0;
}
.mainContent{
  width:80%;
  z-index: 1;
  background-color: #fff;
  color: black;
  /* background-color: #e2e8ef; */
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  
}.headerContent{
  width: 100%;
  padding: 1em;
  /* background-color: pink; */
  background-color: #e2e8ef;
  display: flex;
  padding-bottom: 3em;
}
.wishUser{
  /* background-color: yellow; */
  padding: .5em;
  width: 60%;
}
.generalUI{
  width: 40%;
  padding: 5px;
  gap: .4em;
  display: flex;
  /* background-color: green; */
  position: relative;
}
.searchThings{
  width:78%;
  /* height: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: maroon; */
  display: flex;
  /* background-color: white; */
  padding: 4px 6px;
  
  
}

.search_bar{
  width: 100%;
  display: flex;

  background-color: white;
  padding: 5px 6px;
  height: 2em;
  gap:.3em;
  color: black;
  border-radius: 2em;
  border: 1px solid black;
  z-index: 1;
}
.search_bar input[type="text"]{
  width:90%;
  margin-left: 5px;
  padding: 1px;
  font-size: 1em;
  border: transparent;
  color: black;
  background-color: white;
  /* text-align: center; */
  
}.search_bar input[type="text"]:focus{
  outline: transparent;
}
.notifications{
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: midnightblue; */
}
.userProfile{
  width:12%;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}.profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  /* overflow: hidden; */
}
.profile img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.navBarClass{
  width: 100%;
  /* padding: .4em; */
  display: flex;
  background-color: #e2e8ef;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  border-bottom: 2px solid black;
  margin-bottom: 2em;
}
.navBarClass ul{
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-evenly;

}
.navBarClass li{
  padding: 1em;

}
.navBarClass li a{
  color: black;
}
.navBarClass ul li a.active {
  /* Your active link styles here */
  font-weight: bold;
  color: red;
}
.displayContent{
  /* background-color: yellowgreen; */
  width: 100%;
  padding: 0 2em;
  /* background-color: yellow; */
  
}
